body{
	font-size: 200%;
	font-family:courier;
	background:lightblue;
	
}

@media(min-width:768px){
	.education div{
		display:inline-flex;
		flex-wrap:wrap;
		justify-content:space-between;
		border:3px black solid;
		padding:10px;
	}

	.experience div{
		display:inline-flex;
		flex-wrap:wrap;
		justify-content:space-between;
		border:3px black solid;
		padding:10px;
	}
	
	.skills div{
		display:inline-flex;
		flex-wrap:wrap;
		justify-content:space-between;
		border:3px black solid;
		padding:10px;
	}

}

.ed1{
	width:25%;
	order:1;
}

.ed2{
	width:25%;
	order:2;
}
.ed3{
	width:25%;
	order:3;
}


.ex1{
	width:25%;
	order:1;
}

.ex2{
	width:25%;
	order:2;
}
.ex3{
	width:25%;
	order:3;
}

.sk1{
	width:25%;
	order:1;
}

p{
	color:steelblue;
}



		
	